<br>
<br>
<br>
<div>
    <a mat-button [routerLink]="'/home'">
        <h2>Inicio</h2>
    </a> <br>
    <p></p>
    <a mat-button [routerLink]="'/clientes'">
        <h2>Widgets</h2>
    </a> <br>
    <p></p>
    <a mat-button [routerLink]="'/clientes'">
        <h2>Clientes</h2>
    </a> <br>
    <p></p>
    <a mat-button [routerLink]="'/caja'">
        <h2>Caja</h2>
    </a> <br>
    <p></p>
    <a mat-button [routerLink]="'/caja'">
        <h2>Informe general<br>de caja</h2>
    </a> <br>
    <p></p>
    <a mat-button [routerLink]="'/efectivo'">
        <h2>Retiro de efectivo</h2>
    </a> <br>
    <p></p>
    <a mat-button [routerLink]="'/presupuestos'">
        <h2>Presupuestos</h2>
    </a> <br>
    <p></p>
    <a mat-button [routerLink]="'/cheques'">
        <h2>Cheques</h2>
    </a><br>
    <p></p>
    <a mat-button [routerLink]="'/recibos'">
        <h2>Recibos</h2>
    </a><br>
    <p></p>
</div>