<mat-card>
    <mat-card-title>
        <h2>Crear cliente</h2>
    </mat-card-title>
    <br>
    <mat-card-content class="content">
        <div>
            <form [formGroup]="newForm" (ngSubmit)="onCreate()">
                <p>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Razon Social</mat-label>
                        <input formControlName="razon_social" autocomplete="off" matInput type="text"
                            placeholder="Ej. Juancito">
                    </mat-form-field>
                </p>
                <p>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" autocomplete="off" matInput type="text" placeholder="Email">
                    </mat-form-field>
                </p>
                <p>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Direccion</mat-label>
                        <input formControlName="direccion" autocomplete="off" matInput type="text"
                            placeholder="Direccion">
                    </mat-form-field>
                </p>
                <p>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo de cliente</mat-label>
                        <mat-select formControlName="tipo_cliente">
                            <mat-option value="Publico">Publico</mat-option>
                            <mat-option value="Privado">Privado</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <p>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>CUIT</mat-label>
                        <input matInput formControlName="CUIT" autocomplete="off">
                    </mat-form-field>
                </p>
                <p>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Presupuestos emitidos</mat-label>
                        <input matInput formControlName="presupuestos_emitidos" autocomplete="off"
                            placeholder="PResupuestos emitidos">
                    </mat-form-field>
                </p>
                <p>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Presupuestos pendientes</mat-label>
                        <input matInput formControlName="presupuestos_pendientes" autocomplete="off">
                    </mat-form-field>
                </p>
                <p>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input matInput formControlName="telefono" autocomplete="off" placeholder="Telefono">
                    </mat-form-field>
                </p>
                <button type="submit" mat-raised-button>Crear Cliente</button>
            </form>
        </div>

    </mat-card-content>


</mat-card>