.box {
    margin: 25px 50px;
    width: 30%;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    width: 95%;
    margin: 0 50px;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
    margin: 20px 50px;
}

.element-row:hover {
    background: whitesmoke;
}
