<mat-card>
    <mat-card-title>
        <h2>Crear Proveedor</h2>
    </mat-card-title>
    <br>
    <mat-card-content class="content">
        <form [formGroup]="newForm" (ngSubmit)="onCreate()">
            <p>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Razon Social</mat-label>
                    <input matInput formControlName="razon_social" placeholder="Razon social">
                </mat-form-field>
            </p>
            <p>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>CUIT</mat-label>
                    <input matInput formControlName="CUIT" placeholder="CUIT">
                </mat-form-field>
            </p>
            <p>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>telefono</mat-label>
                    <input matInput formControlName="telefono" placeholder="telefono">
                </mat-form-field>
            </p>
            <p>
                
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email">
                </mat-form-field>
            </p>
            <p>
                
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Direccion</mat-label>
                    <input matInput formControlName="direccion" placeholder="Direccion">
                </mat-form-field>
            </p>

            <button type="submit" mat-raised-button>Crear proveedor</button>
        </form>
    </mat-card-content>


</mat-card>