
mat-sidenav{
    width: 200px;
}

mat-sidenav-content{
    background-color: snow;
}

mat-sidenav-container{
    height: 100%;
}

.colo{
    background-color: brown;
    color: white;
}

mat-sidenav{
    background-color: rgb(150, 41, 41);
    color: white;
    text-align: center;
}