mat-card {
    width: 65%;
    margin: 2% auto;
}


mat-card-title {
    text-align: center;
}

.contenido{
    text-align: center;
}

mat-form-field {
    width: 80%;
}

.sparcer{
    padding: 10px;
}

.end{
    text-align: right;
}


mat-expansion-panel{
    width: 100%;
}
