<mat-card>
    <mat-card-title>
        <h2>Crear Presupuesto</h2>
    </mat-card-title>
    <br>
    <mat-card-content class="content">
        <form [formGroup]="newForm" (ngSubmit)="onCreate()">
            <p>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Numero</mat-label>
                    <input matInput formControlName="numero" placeholder="Numero">
                </mat-form-field>
            </p>
            <p>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="usuario" placeholder="Usuario">
                </mat-form-field>
            </p>
            <p>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Cliente</mat-label>
                    <mat-select formControlName="cliente">
                        <mat-option *ngFor="let lista of lista" [value]="lista">{{lista}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option value="Borrador">Borrador</mat-option>
                        <mat-option value="Emitido">Emitido</mat-option>
                        <mat-option value="En produccion">En produccion</mat-option>
                        <mat-option value="Entregado">Entregado</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>observaciones</mat-label>
                    <textarea matInput formControlName="observaciones" placeholder="Observaciones"></textarea>
                </mat-form-field>
            </p>


            <p class="des">
                <br>
                <mat-form-field class="fom" appearance="outline">
                    <mat-label>Descuentos %</mat-label>
                    <input matInput formControlName="descuentos" placeholder="Descuentos %">
                </mat-form-field>
                <span class="sparcer">&ensp;.&ensp;</span>
                <br>
                <mat-form-field class="fom" appearance="outline">
                    <mat-label>Recargos %</mat-label>
                    <input matInput formControlName="recargos" placeholder="Recargos %">
                </mat-form-field>
            </p>

            <br>
            <br>
            <hr>
            <h2>
                <mat-icon>paid</mat-icon> Pago
            </h2>



            <div class="Pago">
                <!--  SECCIN DE PAGO   -->
                <p>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Forma de pago</mat-label>
                        <mat-select formControlName="forma_pago" [(value)]="select">
                            <mat-option *ngFor="let forma_pago of forma_pago" [value]="forma_pago">{{forma_pago}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>

                <div *ngIf="select!='Efectivo'">
                    <p>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Banco</mat-label>
                            <input matInput formControlName="banco" placeholder="Banco">
                        </mat-form-field>
                    </p>
                    <p>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Numero de pago</mat-label>
                            <input matInput formControlName="nro" placeholder="Numero de pago">
                        </mat-form-field>
                    </p>
                    <p *ngIf="select=='Cheque'">
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput formControlName="fecha" [matDatepicker]="picker" placeholder="Fecha">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </p>
                </div>
                <p>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Monto</mat-label>
                        <input matInput formControlName="monto" placeholder="Monto">
                    </mat-form-field>
                </p>
            </div>

            <p>
                <br>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Total</mat-label>
                    <input matInput disabled>
                </mat-form-field>
            </p>
            <br>
            <!--           ITEM         -->


            <hr>
            <h2>
                <mat-icon> shopping_cart</mat-icon> Item
            </h2>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Monto</mat-label>
                    <input matInput formControlName="montoI" placeholder="Monto">
                </mat-form-field>
            </p>
            <p *ngIf="select=='Cheque'">
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Tipo</mat-label>
                    <input matInput formControlName="tipo" placeholder="Tipo">
                </mat-form-field>
            </p>
            <p>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Descripcion</mat-label>
                    <textarea matInput formControlName="descripcion" placeholder="Descripcion"></textarea>
                </mat-form-field>
            </p>
            <p>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Cantidad</mat-label>
                    <input matInput formControlName="cantidad" placeholder="Cantidad">
                </mat-form-field>
            </p>
            <br>
            <button type="submit" mat-raised-button>Crear presupuesto</button>
        </form>
    </mat-card-content>


</mat-card>